<p id="notice"><%= notice %></p>

<p>
  <strong>Namel:</strong>
  <%= @user.nameL %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Picture:</strong>
  <%= filestack_image @user.picture, transform: filestack_transform.resize(width: 100, height: 100) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
